<div class="eventsInfo adminContent_cont">
  <div class="recentEvents">
    <h2>RECENT EVENTS</h2>
    <ul class="recentEvents_list">
      {{#each events}}
        <li class="recentEvents_item">
          <span><strong>Type</strong> <br> {{this.EventType}}</span>
          <span><strong>Time</strong> <br> {{this.EventTime}}</span>
          <span><strong>Employee</strong> <br> {{this.UserName}}</span>
          <span><strong>Location</strong> <br> {{this.City}},{{this.State}}</span>
        </li>
      {{/each}}
    </ul>
  </div>
</div>
