<div class="pagesInfo adminContent_cont">
  <div class="recentPages">
    <h2>RECENT PAGES</h2>
    <ul class="recentPages_list">

      {{#if pages}}

        <li class="pageListHeading tableHeading">
          <span class="recentPage_city">City</span>
          <span class="recentPage_state">State</span>
          <span class="recentPage_url">Url</span>
          <span class="recentPage_checkin">Checkins</span>
          <span class="recentPage_review">Reviews</span>
          <span class="recentPage_date">Creation Date</span>
          <span class="recentPage_action">Status</span>
        </li>

        {{#each pages}}

          <li class="recentPage">
            <span class="recentPage_city">{{this.City}}</span>
            <span class="recentPage_state">{{this.State}}</span>
            <span class="recentPage_url"><a href="{{this.Url}}" target="_blank" rel="noopener noreferrer">{{this.Url}}</a></span>
            <span class="recentPage_checkin">{{this.CheckinTotal}}</span>
            <span class="recentPage_review">{{this.ReviewTotal}}</span>
            <span class="recentPage_date">{{this.PageCreatedDate}}</span>
            <span class="recentPage_action">
              {{#if this.Verified}}
                <button disabled class="btn">Verified</button>
              {{else}}
                <button class="btn checked validateBtn" data-url="{{this.Url}}" title="Check if the page has been added to the master spreadsheet and it's data is correct. Then use this button to mark the page as
                valid">Validate</button>
              {{/if}}
            </span>
          </li>
        {{/each}}

      {{else}}

        <p>No pages have been created</p>

      {{/if}}
    </ul>
  </div>
</div>
