<div class="adminWrapper">

  <div class="adminContent dashboard">

    <div class="pageActions">
      <a href="nearby-now/import" class="action-btn">Add Entry</a>
    </div>

    <div class="formList_section adminContent_section">
      <h1>Computer Helper Form Submissions</h1>

      <ul class="formsList table">

        <li class="tableHeading">
          <span>SubmissionDate</span>
          <span>Name</span>
          <span>Phone</span>
          <span>Email</span>
          <span>Message</span>
          <span>City</span>
          <span>SpamScore</span>
        </li>

        {{#each formSubmissions}}
          <li>
            <span>{{this.SubmissionDate}}</span>
            <span>{{this.Name}}</span>
            <span>{{this.Phone}}</span>
            <span>{{this.Email}}</span>
            <span>{{this.Message}}</span>
            <span>{{this.City}}</span>
            <span>{{this.SpamScore}}</span>
          </li>
        {{/each}}
      </ul>
    </div>

  </div>

</div>
<script src="js/dashboard.js"></script>
