<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>{{metaTitle}} - Fame Marketing</title>
  <meta name="description" content="Check out our website for {{city}} web design reviews for Fame Marketing!">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="author" content="Fame Marketing">
  <link rel="stylesheet" href="css/style.min.css">
  <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
  <link rel="icon" href="favicon.ico" type="image/x-icon">
  <link rel="canonical" href="https://youneedfame.com/{{url}}">
  <meta property="og:url" content="https://youneedfame.com/{{url}}"/>
  <meta property="og:title" content="{{metaTitle}} - Fame Marketing"/>
  <meta property="og:image" content="https://youneedfame.com/img/subpages/fame_header.jpg"/>
  <meta property="og:description"
        content="Check out our website for {{city}} web design reviews for Fame Marketing!"/>
  <meta name="twitter:card" content="summary"/>
  <meta name="twitter:site" content="@youneedfame"/>
  <script type="application/ld+json">
    {
      "@context": "http://schema.org",
      "@type": "LocalBusiness",
      "image": "https://youneedfame.com/img/subpages/fame_header.jpg",
      "@id": "https://youneedfame.com/{{url}}",
      "name": "Fame Marketing",
      "description": "Check out our website for {{city}} web design reviews for Fame Marketing!",
      "priceRange": "$1000 and up",
      "address": {
        "@type": "PostalAddress",
        "streetAddress": "8444 Campbellton Street",
        "addressLocality": "Douglasville",
        "addressRegion": "GA",
        "postalCode": "30134",
        "addressCountry": "US"
      },
      "geo": {
        "@type": "GeoCoordinates",
        "latitude": 33.7153166,
        "longitude": -84.7230753
      },
      "telephone": "+17709425078",
      "email": "mailto:info@youneedfame.com"
    };
  </script>
  <script>
    (function (d) {
      var config = {
          kitId: 'lgj3cjp',
          scriptTimeout: 3000,
          async: false
        },
        h = d.documentElement, t = setTimeout(function () {
          h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
        }, config.scriptTimeout), tk = d.createElement("script"), f = false, s = d.getElementsByTagName("script")[0], a;
      h.className += " wf-loading";
      tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
      tk.async = true;
      tk.onload = tk.onreadystatechange = function () {
        a = this.readyState;
        if (f || a && a != "complete" && a != "loaded") return;
        f = true;
        clearTimeout(t);
        try {
          Typekit.load(config)
        } catch (e) {
        }
      };
      s.parentNode.insertBefore(tk, s)
    })(document);</script>
  <script>
    (function (h, o, t, j, a, r) {
      h.hj = h.hj || function () {
        (h.hj.q = h.hj.q || []).push(arguments)
      };
      h._hjSettings = {hjid: 449381, hjsv: 5};
      a = o.getElementsByTagName('head')[0];
      r = o.createElement('script');
      r.async = 1;
      r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
      a.appendChild(r);
    })(window, document, '//static.hotjar.com/c/hotjar-', '.js?sv=');</script>
  <script type="text/javascript" src="https://secure.otto5loki.com/js/157124.js"></script>
  <noscript><img alt="" src="https://secure.otto5loki.com/157124.png" style="display:none;"/></noscript>
  <script>
    window.FontAwesomeConfig = {
      searchPseudoElements: true
    }</script>
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-52851824-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];

    function gtag() {
      dataLayer.push(arguments);
    }

    gtag('js', new Date());
    gtag('config', 'UA-52851824-1');</script>
</head>
<body>
<div class="mobile-fade"></div>

<?php include "php/parts/slide-menu.phtml" ?>

<div class="wrapper">

  <div class="page-header-wrap" style="background-image:url(img/subpages/hosting-support_header.png)">
    <div class="page-header">

      <a href="/"><img src="img/logo-im.png" alt="Fame Marketing" class="top-logo"/></a>
      <div class="land-links">
        <a href="tel:7709420578" class="fame-linked-phone">(770) 942-5078</a>
        <div class="land-menu">
          <div class="menu-burger">
            <div class="burger-lines">
              <span class="line1"></span>
              <span class="line2"></span>
              <span class="line3"></span>
            </div>
          </div>
        </div>
      </div>

      <div class="header-content">

        <div class="page-title">
          <h2>{{city}}</h2>
        </div>
        <div class="breadcrumbs">
          <ul class="bread-list">
            <li><a href="/">Home</a></li>
            <li><a href="digital-marketing">About</a></li>
            <li><a href="internet-marketing-west-atlanta">Local Reviews</a></li>
            <li>{{city}}</li>
          </ul>
        </div>

      </div>

    </div><!-- page header-wrap -->
  </div><!-- page header -->

  <div class="main-content site-page">

    <section class="subpage-section header-waypoint bg-gray">
      <div class="landing-content">

        <div class="page-intro">
          <div class="col-xs-12">
            <h1>{{keyword}}</h1>
          </div>
          <div class="col-lg-8 col-md-6">
            <p class="lc-para">Are you a business owner in the {{city}} area in need of web design, SEO, Social
              Media Management, or Graphic Design? If you need help, call Fame Internet Marketing!</p>
            <p class="more-text">See what our Clients have to say? <span class="content-scroll"><i
              class="fal fa-chevron-down" id="scrollDown"></i></span></p>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="landing-form logo-form">
              <form class="ct-js-validate ct-formAppointment" id="contactForm" action="php/send.php" method="post"
                    data-all-fields-required-msg="All fields are required"
                    data-ajax-fail-msg="Ajax could not set the request" data-success-msg="Email successfully sent.">
                <div>
                  <div class="form-group">
                    <input class="contact-form-name field" type="text" name="cname" placeholder="Name">
                  </div>
                  <div class="form-group">
                    <input class="contact-form-email field" type="text" name="cemail" placeholder="Email">
                  </div>
                  <div class="form-group">
                    <input class="contact-form-phone field" type="text" name="cphone" placeholder="Phone">
                  </div>
                  <div class="form-group">
                    <textarea class="contact-form-site field" type="textarea" name="cmessage"
                              placeholder="How can we help?"></textarea>
                  </div>
                  <button class="button contact-btn site-btn">
                    <p>LET'S GET STARTED</p> <i class="far fa-spin fa-spinner ajax-loader"
                                                style="display: none; margin-left: 5px;"></i>
                  </button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <?php include "php/parts/header.phtml" ?>

    <section class="subpage-section header-waypoint bg-offwhite">
      <div class="container">
        <div class="nn-info combo-info">

          <?php include 'php/nearbyNow/nearbyNow.php';
            $comboNN = new nearbyNow(
              $args = [
              "state" => {{state}},
              "city" => {{city}},
              "count" => "3",
              "zoom" => "12",
              "mapSize" => "large",
              "reviewCount" => "3",
              "checkinCount" => "3"
            ]
          );
          $comboNN->comboNN();
          ?>
        </div>
      </div>
    </section>

    <section class="subpage-section header-waypoint bg-red">
      <div class="container">

        <h3 class="section-title">{{keyword}}</h3>

      </div>
    </section>

    <section class="header-waypoint parallax bg-parallax testimony-section" data-parallax
             data-src="img/subpages/hosting-support_header.png" data-speed=".5">
      <div class="container">

        <h2 class="section-title">Web Design is Just the Beginning!</h2>
        <p class="section-quote">Fame Marketing</p>

      </div>
    </section>

    <?php include "php/parts/footer.phtml" ?>

</body>
</html>
