<?php require_once '../init.php'; ?>
<!DOCTYPE html>
<html>
<head>

  <?php getStaticHead(); ?>

  <title>{{metaTitle}} - [Client Name]</title>
  <meta name="description" content="{{metaDescription}}">
  <link rel="canonical" href="https://[client-domain]/{{url}}">
  <meta property="og:url" content="https://[client-domain]/{{url}}"/>
  <meta property="og:title" content="{{metaTitle}} - [Client Name]"/>
  <meta property="og:image" content="https://[client-domain]/images/subpages/heatmap.jpg"/>
  <meta property="og:description" content="{{metaDescription}}"/>

</head>

<body>

  <h1>Placeholder Page</h1>

</body>
</html>
