<?php require_once '../init.php'; ?>
<!DOCTYPE html>
<html>
<head>

  <?php getStaticHead(); ?>

  <title>{{metaTitle}} - Computer Helper</title>
  <meta name="description" content="{{metaDescription}}">
  <link rel="canonical" href="https://computerhelper.org/{{url}}">
  <meta property="og:url" content="https://computerhelper.org/{{url}}"/>
  <meta property="og:title" content="{{metaTitle}} - Computer Helper"/>
  <meta property="og:image" content="https://computerhelper.org/images/subpages/heatmap.jpg"/>
  <meta property="og:description" content="{{metaDescription}}"/>

</head>

<body>

  <h1>Placeholder Page</h1>

</body>
</html>
