<?php require_once '../init.php'; ?>
<!DOCTYPE html>
<html>
<head>

  <?php getStaticHead(); ?>

  <title>{{metaTitle}} - [Client Name]</title>
  <meta name="description" content="{{metaDescription}}">
  <link rel="canonical" href="[company_url]/{{url}}">
  <meta property="og:url" content="[company_url]/{{url}}"/>
  <meta property="og:title" content="{{metaTitle}} - [Company Name]"/>
  <meta property="og:image" content="[company_url]/images/subpages/heatmap.jpg"/>
  <meta property="og:description" content="{{metaDescription}}"/>

</head>

<body>

  <h1>Placeholder Page</h1>

</body>
</html>
